[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.2.0"
jupyterlab = "==3.0.5"
matplotlib = "==3.3.3"
numpy = "*"
pandas-profiling = "*"
joblib = "*"
scipy = "*"
sklearn = "*"
kaggle = "*"
imblearn = "*"
pytictoc = "*"
jupyter = "*"
lab = "*"

[dev-packages]

[requires]
python_version = "3.7"
